In [1]:
import pandas as pd
import numpy as np
file_path = 'test.csv'

df = pd.read_csv(file_path)

print(df)

   col1  col2  col3
0    20    40    60
1    30    50    80
2    40    60   100

In [2]:
numpy_array = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

column_names = ['Column1', 'Column2', 'Column3']

df = pd.DataFrame(data=numpy_array, columns=column_names)

print(df)

   Column1  Column2  Column3
0        1        2        3
1        4        5        6
2        7        8        9

In [3]:
import pandas as pd

# Create a sample DataFrame
data = {'Name': ['Harsh', 'Het', 'Piyush', 'Kesha', 'Pratik'],
        'Age': [26, 32, 25, 31, 28],
        'Salary': [50000, 60000, 45000, 70000, 55000]}

df = pd.DataFrame(data)

selected_rows = df[(df['Age'] > 25) & (df['Salary'] > 50000)]

print(selected_rows)

     Name  Age  Salary
1     Het   32   60000
3   Kesha   31   70000
4  Pratik   28   55000

In [4]:
selected_rows = pd.concat([df.head(3)])

print("First 3 rows:")
print(selected_rows)

selected_rows = pd.concat([df.tail(3)])
print("\nLast 3 rows:")
print(selected_rows)

First 3 rows:
     Name  Age  Salary
0   Harsh   26   50000
1     Het   32   60000
2  Piyush   25   45000

Last 3 rows:
     Name  Age  Salary
2  Piyush   25   45000
3   Kesha   31   70000
4  Pratik   28   55000

In [5]:
filtered_rows = df[df['Age'] > 30]

print(filtered_rows)

    Name  Age  Salary
1    Het   32   60000
3  Kesha   31   70000

In [6]:
df['Double_Age'] = np.multiply(df['Age'], 2)
print("New Dataframe:")
print(df)

New Dataframe:
     Name  Age  Salary  Double_Age
0   Harsh   26   50000          52
1     Het   32   60000          64
2  Piyush   25   45000          50
3   Kesha   31   70000          62
4  Pratik   28   55000          56

In [7]:
selected_age_values = np.array([25, 35])

selected_rows = df[df['Age'].isin(selected_age_values)]

print(selected_rows)

     Name  Age  Salary  Double_Age
2  Piyush   25   45000          50

In [8]:
numpy_array = np.array([1000, 2000, 3000, 4000, 5000])

df['Updated_Salary'] = np.add(df['Salary'], numpy_array)

print(df)

     Name  Age  Salary  Double_Age  Updated_Salary
0   Harsh   26   50000          52           51000
1     Het   32   60000          64           62000
2  Piyush   25   45000          50           48000
3   Kesha   31   70000          62           74000
4  Pratik   28   55000          56           60000