In [1]:
import numpy as np
dtype = [('name', 'U15'), ('age', 'i4'), ('height', 'f4')]
structured_array = np.array([
    ('Harsh Patel', 25, 5.5),
    ('Dhyan Shah', 30, 5.8),
    ('Aayushi Trivedi', 35, 6.1),
    ('Piyush Chunara', 40, 5.9),
    ('Daiwik Korat', 28, 5.7)
], dtype=dtype)
print("Structured Array:")
print(structured_array)

Structured Array:
[('Harsh Patel', 25, 5.5) ('Dhyan Shah', 30, 5.8)
 ('Aayushi Trivedi', 35, 6.1) ('Piyush Chunara', 40, 5.9)
 ('Daiwik Korat', 28, 5.7)]

In [2]:
name_field_values = structured_array['name']
print("All values of the 'name' field:")
print(name_field_values)

All values of the 'name' field:
['Harsh Patel' 'Dhyan Shah' 'Aayushi Trivedi' 'Piyush Chunara'
 'Daiwik Korat']

In [3]:
structured_array[0]['age'] = 30
print("\nUpdated Structured Array:")
print(structured_array)

Updated Structured Array:
[('Harsh Patel', 30, 5.5) ('Dhyan Shah', 30, 5.8)
 ('Aayushi Trivedi', 35, 6.1) ('Piyush Chunara', 40, 5.9)
 ('Daiwik Korat', 28, 5.7)]

In [4]:
new_record = np.array([('Kesha Patel', 25, 5.9)], dtype=dtype)
updated_array = np.append(structured_array, new_record)
print("\nUpdated Structured Array:")
print(updated_array)

Updated Structured Array:
[('Harsh Patel', 30, 5.5) ('Dhyan Shah', 30, 5.8)
 ('Aayushi Trivedi', 35, 6.1) ('Piyush Chunara', 40, 5.9)
 ('Daiwik Korat', 28, 5.7) ('Kesha Patel', 25, 5.9)]