In [1]:
from enum import Enum
class Country(Enum):
    Australia = 93
    India = 355
    England = 213
    Nepal = 376
    Africa = 244
    China = 672

In [2]:
print(Country.India.name)
print(Country.India.value)

India
355

In [3]:
for data in Country:
    print(data.name)
    print(data.value)

Australia
93
India
355
England
213
Nepal
376
Africa
244
China
672

In [4]:
import enum
class Country(enum.IntEnum):
    Afghanistan = 93
    Albania = 355
    Algeria = 213
    Andorra = 376
    Angola = 244
    Antarctica = 672
print('\n'.join('  ' + c.name for c in sorted(Country)))

  Afghanistan
  Algeria
  Angola
  Albania
  Andorra
  Antarctica

In [5]:
from enum import IntEnum
class Country(IntEnum):
    Afghanistan = 93
    Albania = 355
    Algeria = 213
    Andorra = 376
    Angola = 244
    Antarctica = 672
country_code_list = list(map(int, Country))
print(country_code_list)

[93, 355, 213, 376, 244, 672]