In [1]:
import pandas as pd

student_data1 = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
         'name': ['Harsh', 'Piyush', 'Aayushi', 'Het', 'Kesha'], 
        'marks': [200, 210, 190, 222, 199]})

student_data2 = pd.DataFrame({
        'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
        'name': ['Riya', 'Eti', 'Sunil', 'Jansi', 'Dhyan'], 
        'marks': [201, 200, 198, 219, 201]})

print("Original DataFrames:")
print(student_data1)
print("-------------------------------------")
print(student_data2)
print("\nJoin the said two dataframes along rows:")
result_data = pd.concat([student_data1, student_data2])
print(result_data)

Original DataFrames:
  student_id     name  marks
0         S1    Harsh    200
1         S2   Piyush    210
2         S3  Aayushi    190
3         S4      Het    222
4         S5    Kesha    199
-------------------------------------
  student_id   name  marks
0         S4   Riya    201
1         S5    Eti    200
2         S6  Sunil    198
3         S7  Jansi    219
4         S8  Dhyan    201

Join the said two dataframes along rows:
  student_id     name  marks
0         S1    Harsh    200
1         S2   Piyush    210
2         S3  Aayushi    190
3         S4      Het    222
4         S5    Kesha    199
0         S4     Riya    201
1         S5      Eti    200
2         S6    Sunil    198
3         S7    Jansi    219
4         S8    Dhyan    201

In [2]:
print("\nJoin the said two dataframes along columns:")
result_data = pd.concat([student_data1, student_data2], axis = 1)
print(result_data)

Join the said two dataframes along columns:
  student_id     name  marks student_id   name  marks
0         S1    Harsh    200         S4   Riya    201
1         S2   Piyush    210         S5    Eti    200
2         S3  Aayushi    190         S6  Sunil    198
3         S4      Het    222         S7  Jansi    219
4         S5    Kesha    199         S8  Dhyan    201

In [3]:
s6 = pd.Series(['S6', 'Daiwik', 205], 
               index=['student_id', 'name', 'marks'])

print("Original DataFrame:")
print(student_data1)

print("\nNew Row:")
print(s6)

combined_data = pd.concat([student_data1, s6.to_frame().T], ignore_index=True)

print("\nCombined Data:")
print(combined_data)

Original DataFrame:
  student_id     name  marks
0         S1    Harsh    200
1         S2   Piyush    210
2         S3  Aayushi    190
3         S4      Het    222
4         S5    Kesha    199

New Row:
student_id        S6
name          Daiwik
marks            205
dtype: object

Combined Data:
  student_id     name marks
0         S1    Harsh   200
1         S2   Piyush   210
2         S3  Aayushi   190
3         S4      Het   222
4         S5    Kesha   199
5         S6   Daiwik   205