In [1]:
import pandas as pd
employees = pd.read_csv(r"EMPLOYEES.csv")
departments = pd.read_csv(r"DEPARTMENTS.csv")
job_history = pd.read_csv(r"JOB_HISTORY.csv")
jobs = pd.read_csv(r"JOBS.csv")
countries = pd.read_csv(r"COUNTRIES.csv")
regions = pd.read_csv(r"REGIONS.csv")
locations = pd.read_csv(r"LOCATIONS.csv")
print("All the records from regions file:")
print(regions)

All the records from regions file:
   REGION_ID             REGION_NAME
0          1                  Europe
1          2                Americas
2          3                    Asia
3          4  Middle East and Africa

In [2]:
result = locations[['location_id']]
print("All the locations id from locations file:")
print(result)

All the locations id from locations file:
    location_id
0          1000
1          1100
2          1200
3          1300
4          1400
5          1500
6          1600
7          1700
8          1800
9          1900
10         2000
11         2100
12         2200
13         2300
14         2400
15         2500
16         2600
17         2700
18         2800
19         2900
20         3000
21         3100
22         3200

In [3]:
print("First 7 records from employees file:")
print(employees.head(7))

First 7 records from employees file:
   employ_id first_name  last_name     email  phone_number   hire_date  \
0        100     Steven       King     SKING  515.123.4567  2003-06-17
1        101      Neena    Kochhar  NKOCHHAR  515.123.4568  2005-09-21
2        102        Lex    De Haan   LDEHAAN  515.123.4569  2001-01-13
3        103  Alexander     Hunold   AHUNOLD  590.423.4567  2006-01-03
4        104      Bruce      Ernst    BERNST  590.423.4568  2007-05-21
5        105      David     Austin   DAUSTIN  590.423.4569  2005-06-25
6        106      Valli  Pataballa  VPATABAL  590.423.4560  2006-02-05

    job_id  salary  commission_pct  manager_id  department_id
0  AD_PRES   24000             NaN         NaN           90.0
1    AD_VP   17000             NaN       100.0           90.0
2    AD_VP   17000             NaN       100.0           90.0
3  IT_PROG    9000             NaN       102.0           60.0
4  IT_PROG    6000             NaN       103.0           60.0
5  IT_PROG    4800             NaN       103.0           60.0
6  IT_PROG    4800             NaN       103.0           60.0

In [4]:
print("Distinct department_id:")
print(employees.department_id.unique())

Distinct department_id:
[ 90.  60. 100.  30.  50.  80.  nan  10.  20.  40.  70. 110.]

In [5]:
print("Last name  First name    Department ID")
result = employees[employees.last_name == 'McEwen']
for index, row in result.iterrows():	
    print(row['last_name'],'   ',row['first_name'],'       ',row['department_id'])

Last name  First name    Department ID
McEwen     Allan         80.0

In [6]:
print("First name      Last name       Salary    Department ID")
result = employees[employees['first_name'].str[:1]=='S']
for index, row in result.iterrows():
    print(row['first_name'].ljust(15),row['last_name'].ljust(15),str(row['salary']).ljust(9),row['department_id'])

First name      Last name       Salary    Department ID
Steven          King            24000     90.0
Shelli          Baida           2900      30.0
Sigal           Tobias          2800      30.0
Shanta          Vollman         6500      50.0
Steven          Markle          2200      50.0
Stephen         Stiles          3200      50.0
Sarath          Sewall          7000      80.0
Sundar          Ande            6400      80.0
Sundita         Kumar           6100      80.0
Sarah           Bell            4000      50.0
Samuel          McCain          3200      50.0
Susan           Mavris          6500      40.0
Shelley         Higgins         12000     110.0