In [1]:
import pandas as pd
diamonds = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds.csv')
print(diamonds)

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [2]:
diamonds.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [3]:
diamonds.head(6)

   carat        cut color clarity  depth  table  price     x     y     z
0   0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
5   0.24  Very Good     J    VVS2   62.8   57.0    336  3.94  3.96  2.48

In [4]:
print(diamonds['carat'])

0        0.23
1        0.21
2        0.23
3        0.29
4        0.31
         ...
53935    0.72
53936    0.72
53937    0.70
53938    0.86
53939    0.75
Name: carat, Length: 53940, dtype: float64

In [5]:
print(diamonds.info())
print("----------------------------------------------")
print(diamonds.shape)
print("----------------------------------------------")
print(diamonds.dtypes)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  object
 2   color    53940 non-null  object
 3   clarity  53940 non-null  object
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 4.1+ MB
None
----------------------------------------------
(53940, 10)
----------------------------------------------
carat      float64
cut         object
color       object
clarity     object
depth      float64
table      float64
price        int64
x          float64
y          float64
z          float64
dtype: object

In [6]:
print("Summarize of 'object' columns:")
print(diamonds.describe(include=['object']))

Summarize of 'object' columns:
          cut  color clarity
count   53940  53940   53940
unique      5      7       8
top     Ideal      G     SI1
freq    21551  11292   13065

In [7]:
print("\nAfter renaming two of the columns of the said dataframe:")
diamonds.rename(columns={'color':'diamond_color', 'clarity':'dimaond_clarity'}, inplace=True)
print(diamonds.head())

After renaming two of the columns of the said dataframe:
   carat      cut diamond_color dimaond_clarity  depth  table  price     x  \
0   0.23    Ideal             E             SI2   61.5   55.0    326  3.95
1   0.21  Premium             E             SI1   59.8   61.0    326  3.89
2   0.23     Good             E             VS1   56.9   65.0    327  4.05
3   0.29  Premium             I             VS2   62.4   58.0    334  4.20
4   0.31     Good             J             SI2   63.3   58.0    335  4.34

      y     z
0  3.98  2.43
1  3.84  2.31
2  4.07  2.31
3  4.23  2.63
4  4.35  2.75

In [8]:
diamonds_cols = ['new_carat', 'new_cut', 'new_color', 'new_clarity', 'new_depth', 'new_table', 'new_price', 'new_x', 'new_y', 'new_z']
diamonds.columns = diamonds_cols
print("\nAfter renaming all the columns of the said dataframe:")
diamonds.rename(columns={'color':'diamond_color', 'clarity':'dimaond_clarity'}, inplace=True)
print(diamonds.head())

After renaming all the columns of the said dataframe:
   new_carat  new_cut new_color new_clarity  new_depth  new_table  new_price  \
0       0.23    Ideal         E         SI2       61.5       55.0        326
1       0.21  Premium         E         SI1       59.8       61.0        326
2       0.23     Good         E         VS1       56.9       65.0        327
3       0.29  Premium         I         VS2       62.4       58.0        334
4       0.31     Good         J         SI2       63.3       58.0        335

   new_x  new_y  new_z
0   3.95   3.98   2.43
1   3.89   3.84   2.31
2   4.05   4.07   2.31
3   4.20   4.23   2.63
4   4.34   4.35   2.75

In [9]:
print("\nRemove the second column of the said Dataframe:")
diamonds.drop('new_cut', axis=1, inplace=True)
print(diamonds.head())

Remove the second column of the said Dataframe:
   new_carat new_color new_clarity  new_depth  new_table  new_price  new_x  \
0       0.23         E         SI2       61.5       55.0        326   3.95
1       0.21         E         SI1       59.8       61.0        326   3.89
2       0.23         E         VS1       56.9       65.0        327   4.05
3       0.29         I         VS2       62.4       58.0        334   4.20
4       0.31         J         SI2       63.3       58.0        335   4.34

   new_y  new_z
0   3.98   2.43
1   3.84   2.31
2   4.07   2.31
3   4.23   2.63
4   4.35   2.75

In [10]:
print("\nRemove multiple columns:")
diamonds.drop(['new_carat', 'new_color', 'new_y'], axis=1, inplace=True)
print(diamonds.head())

Remove multiple columns:
  new_clarity  new_depth  new_table  new_price  new_x  new_z
0         SI2       61.5       55.0        326   3.95   2.43
1         SI1       59.8       61.0        326   3.89   2.31
2         VS1       56.9       65.0        327   4.05   2.31
3         VS2       62.4       58.0        334   4.20   2.63
4         SI2       63.3       58.0        335   4.34   2.75

In [11]:
print("\nRemove multiple rows:")
diamonds.drop([2, 4, 5], axis=0, inplace=True)
print(diamonds.head())

Remove multiple rows:
  new_clarity  new_depth  new_table  new_price  new_x  new_z
0         SI2       61.5       55.0        326   3.95   2.43
1         SI1       59.8       61.0        326   3.89   2.31
3         VS2       62.4       58.0        334   4.20   2.63
6        VVS1       62.3       57.0        336   3.95   2.47
7         SI1       61.9       55.0        337   4.07   2.53