In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_excel('coalpublic2013.xls')
print(df.head)

<bound method NDFrame.head of                   Historical Coal Production Data: 2013 Unnamed: 1  \
0     Source: The U.S. Energy Information Administra...        NaN
1                                                   NaN        NaN
2                                                  Year    MSHA ID
3                                                  2013     103381
4                                                  2013     103404
...                                                 ...        ...
1448                                               2013    1103254
1449                                               2013    1102636
1450                                               2013    4407233
1451                                               2013    1518524
1452                                               2013    1519685

                 Unnamed: 2       Unnamed: 3   Unnamed: 4  \
0                       NaN              NaN          NaN
1                       NaN              NaN          NaN
2                 Mine Name       Mine State  Mine County
3      Tacoa Highwall Miner          Alabama         Bibb
4          Reid School Mine          Alabama       Blount
...                     ...              ...          ...
1448          Fidelity Mine  Refuse Recovery        Perry
1449                    Wfi  Refuse Recovery       Saline
1450               Gobco #8  Refuse Recovery      Russell
1451      Turkey Pen Refuse  Refuse Recovery         Pike
1452  Fedscreek Refuse Pile  Refuse Recovery         Pike

                              Unnamed: 5 Unnamed: 6  \
0                                    NaN        NaN
1                                    NaN        NaN
2                            Mine Status  Mine Type
3     Active, men working, not producing    Surface
4                  Permanently abandoned    Surface
...                                  ...        ...
1448  Active, men working, not producing     Refuse
1449  Active, men working, not producing     Refuse
1450                              Active     Refuse
1451                              Active     Refuse
1452  Active, men working, not producing     Refuse

                        Unnamed: 7                  Unnamed: 8  \
0                              NaN                         NaN
1                              NaN                         NaN
2                     Company Type              Operation Type
3     Indepedent Producer Operator                   Mine only
4     Indepedent Producer Operator                   Mine only
...                            ...                         ...
1448          Operating Subsidiary  Mine and Preparation Plant
1449  Indepedent Producer Operator                   Mine only
1450  Indepedent Producer Operator                   Mine only
1451  Indepedent Producer Operator                   Mine only
1452  Indepedent Producer Operator                   Mine only

                          Unnamed: 9  \
0                                NaN
1                                NaN
2                  Operating Company
3            Jesse Creek Mining, Llc
4      Taft Coal Sales & Associates,
...                              ...
1448            Energy Recovery, Llc
1449                             Wfi
1450              Mountain Fuels Inc
1451  Belcher & Company Excavating I
1452            P B Dirt Movers Inc.

                                            Unnamed: 10 Unnamed: 11  \
0                                                   NaN         NaN
1                                                   NaN         NaN
2                             Operating Company Address  Union Code
3               1615 Kent Dairy Rd, Alabaster, AL 35007
4     3000 Riverchase Galleria Ste 1, Birmingham, AL...        UNIT
...                                                 ...         ...
1448                     P.O. Box 483, Benton, IL 62812
1449         4270 North America Road, Galatia, IL 62935
1450                   P.O. Box 749, Abingdon, VA 24210
1451              2340 Conaway Road, Big Rock, VA 24603
1452                    P.O. Box 10, Big Rock, VA 24603

              Unnamed: 12              Unnamed: 13        Unnamed: 14  \
0                     NaN                      NaN                NaN
1                     NaN                      NaN                NaN
2      Coal Supply Region  Production (short tons)  Average Employees
3     Appalachia Southern                    56004                 10
4     Appalachia Southern                    28807                 18
...                   ...                      ...                ...
1448       Illinois Basin                    18532                  4
1449       Illinois Basin                     5070                  4
1450   Appalachia Central                   377607                 16
1451   Appalachia Central                     7744                  2
1452   Appalachia Central                    17357                  3

      Unnamed: 15
0             NaN
1             NaN
2     Labor Hours
3           22392
4           28447
...           ...
1448         8249
1449         1449
1450        43684
1451          622
1452         1020

[1453 rows x 16 columns]>

In [3]:
df.dtypes

Historical Coal Production Data: 2013    object
Unnamed: 1                               object
Unnamed: 2                               object
Unnamed: 3                               object
Unnamed: 4                               object
Unnamed: 5                               object
Unnamed: 6                               object
Unnamed: 7                               object
Unnamed: 8                               object
Unnamed: 9                               object
Unnamed: 10                              object
Unnamed: 11                              object
Unnamed: 12                              object
Unnamed: 13                              object
Unnamed: 14                              object
Unnamed: 15                              object
dtype: object

In [4]:
cols = [1, 2, 4]
df = pd.read_excel('coalpublic2013.xls', usecols=cols)
df

     Unnamed: 1             Unnamed: 2   Unnamed: 4
0           NaN                    NaN          NaN
1           NaN                    NaN          NaN
2       MSHA ID              Mine Name  Mine County
3        103381   Tacoa Highwall Miner         Bibb
4        103404       Reid School Mine       Blount
...         ...                    ...          ...
1448    1103254          Fidelity Mine        Perry
1449    1102636                    Wfi       Saline
1450    4407233               Gobco #8      Russell
1451    1518524      Turkey Pen Refuse         Pike
1452    1519685  Fedscreek Refuse Pile         Pike

[1453 rows x 3 columns]

In [5]:
df = pd.read_excel('coalpublic2013.xls')
df.insert(3, "column1", np.nan)
print(df.head)

<bound method NDFrame.head of                   Historical Coal Production Data: 2013 Unnamed: 1  \
0     Source: The U.S. Energy Information Administra...        NaN
1                                                   NaN        NaN
2                                                  Year    MSHA ID
3                                                  2013     103381
4                                                  2013     103404
...                                                 ...        ...
1448                                               2013    1103254
1449                                               2013    1102636
1450                                               2013    4407233
1451                                               2013    1518524
1452                                               2013    1519685

                 Unnamed: 2  column1       Unnamed: 3   Unnamed: 4  \
0                       NaN      NaN              NaN          NaN
1                       NaN      NaN              NaN          NaN
2                 Mine Name      NaN       Mine State  Mine County
3      Tacoa Highwall Miner      NaN          Alabama         Bibb
4          Reid School Mine      NaN          Alabama       Blount
...                     ...      ...              ...          ...
1448          Fidelity Mine      NaN  Refuse Recovery        Perry
1449                    Wfi      NaN  Refuse Recovery       Saline
1450               Gobco #8      NaN  Refuse Recovery      Russell
1451      Turkey Pen Refuse      NaN  Refuse Recovery         Pike
1452  Fedscreek Refuse Pile      NaN  Refuse Recovery         Pike

                              Unnamed: 5 Unnamed: 6  \
0                                    NaN        NaN
1                                    NaN        NaN
2                            Mine Status  Mine Type
3     Active, men working, not producing    Surface
4                  Permanently abandoned    Surface
...                                  ...        ...
1448  Active, men working, not producing     Refuse
1449  Active, men working, not producing     Refuse
1450                              Active     Refuse
1451                              Active     Refuse
1452  Active, men working, not producing     Refuse

                        Unnamed: 7                  Unnamed: 8  \
0                              NaN                         NaN
1                              NaN                         NaN
2                     Company Type              Operation Type
3     Indepedent Producer Operator                   Mine only
4     Indepedent Producer Operator                   Mine only
...                            ...                         ...
1448          Operating Subsidiary  Mine and Preparation Plant
1449  Indepedent Producer Operator                   Mine only
1450  Indepedent Producer Operator                   Mine only
1451  Indepedent Producer Operator                   Mine only
1452  Indepedent Producer Operator                   Mine only

                          Unnamed: 9  \
0                                NaN
1                                NaN
2                  Operating Company
3            Jesse Creek Mining, Llc
4      Taft Coal Sales & Associates,
...                              ...
1448            Energy Recovery, Llc
1449                             Wfi
1450              Mountain Fuels Inc
1451  Belcher & Company Excavating I
1452            P B Dirt Movers Inc.

                                            Unnamed: 10 Unnamed: 11  \
0                                                   NaN         NaN
1                                                   NaN         NaN
2                             Operating Company Address  Union Code
3               1615 Kent Dairy Rd, Alabaster, AL 35007
4     3000 Riverchase Galleria Ste 1, Birmingham, AL...        UNIT
...                                                 ...         ...
1448                     P.O. Box 483, Benton, IL 62812
1449         4270 North America Road, Galatia, IL 62935
1450                   P.O. Box 749, Abingdon, VA 24210
1451              2340 Conaway Road, Big Rock, VA 24603
1452                    P.O. Box 10, Big Rock, VA 24603

              Unnamed: 12              Unnamed: 13        Unnamed: 14  \
0                     NaN                      NaN                NaN
1                     NaN                      NaN                NaN
2      Coal Supply Region  Production (short tons)  Average Employees
3     Appalachia Southern                    56004                 10
4     Appalachia Southern                    28807                 18
...                   ...                      ...                ...
1448       Illinois Basin                    18532                  4
1449       Illinois Basin                     5070                  4
1450   Appalachia Central                   377607                 16
1451   Appalachia Central                     7744                  2
1452   Appalachia Central                    17357                  3

      Unnamed: 15
0             NaN
1             NaN
2     Labor Hours
3           22392
4           28447
...           ...
1448         8249
1449         1449
1450        43684
1451          622
1452         1020

[1453 rows x 17 columns]>