In [1]:
import pandas as pd
w_a_con = pd.read_csv('world_alcohol.csv')
print("World alcohol consumption sample data:")
print(w_a_con.head())
print('\nShape of the dataframe: ',w_a_con.shape)
print('\nNumber of rows: ',w_a_con.shape[0])
print('\nNumber of column: ',w_a_con.shape[1])
print("\nExtract Column Names:")
print(w_a_con.columns)

World alcohol consumption sample data:
   Year       WHO region                Country Beverage Types  Display Value
0  1986  Western Pacific               Viet Nam           Wine           0.00
1  1986         Americas                Uruguay          Other           0.50
2  1985           Africa           Cte d'Ivoire           Wine           1.62
3  1986         Americas               Colombia           Beer           4.27
4  1987         Americas  Saint Kitts and Nevis           Beer           1.98

Shape of the dataframe:  (100, 5)

Number of rows:  100

Number of column:  5

Extract Column Names:
Index(['Year', 'WHO region', 'Country', 'Beverage Types', 'Display Value'], dtype='object')

In [2]:
print("\nSelect first 2 rows:")
print(w_a_con.iloc[:2])
print("\nSelect first 2 columns:")
print(w_a_con.iloc[:,:2].head())
print("\nSelect 2 specific columns:")
print(w_a_con[['Display Value', 'Year']])

Select first 2 rows:
   Year       WHO region   Country Beverage Types  Display Value
0  1986  Western Pacific  Viet Nam           Wine            0.0
1  1986         Americas   Uruguay          Other            0.5

Select first 2 columns:
   Year       WHO region
0  1986  Western Pacific
1  1986         Americas
2  1985           Africa
3  1986         Americas
4  1987         Americas

Select 2 specific columns:
    Display Value  Year
0            0.00  1986
1            0.50  1986
2            1.62  1985
3            4.27  1986
4            1.98  1987
..            ...   ...
95           0.00  1984
96           7.38  1985
97           0.00  1984
98           0.00  1984
99           0.00  1985

[100 rows x 2 columns]

In [3]:
print("\nSelect random number of rows:")
print(w_a_con.sample(5))
print("\nSelect fraction of randome rows:")
print(w_a_con.sample(frac=0.02))

Select random number of rows:
    Year             WHO region         Country Beverage Types  Display Value
41  1986                 Europe  Czech Republic           Beer           6.82
27  1984  Eastern Mediterranean         Bahrain           Beer           2.22
22  1984                 Europe         Romania        Spirits           2.67
37  1986                 Europe          Sweden           Beer           3.04
69  1986                 Africa            Togo        Spirits           0.42

Select fraction of randome rows:
    Year WHO region      Country Beverage Types  Display Value
81  1985     Europe  Netherlands           Wine           2.54
44  1985     Europe    Lithuania          Other            NaN

In [4]:
print("\nMissing values:")
print(w_a_con.isnull())
print("\nDropping the missing values:")
print(w_a_con.dropna())

Missing values:
     Year  WHO region  Country  Beverage Types  Display Value
0   False       False    False           False          False
1   False       False    False           False          False
2   False       False    False           False          False
3   False       False    False           False          False
4   False       False    False           False          False
..    ...         ...      ...             ...            ...
95  False       False    False           False          False
96  False       False    False           False          False
97  False       False    False           False          False
98  False       False    False           False          False
99  False       False    False           False          False

[100 rows x 5 columns]

Dropping the missing values:
    Year       WHO region                                Country  \
0   1986  Western Pacific                               Viet Nam
1   1986         Americas                                Uruguay
2   1985           Africa                           Cte d'Ivoire
3   1986         Americas                               Colombia
4   1987         Americas                  Saint Kitts and Nevis
..   ...              ...                                    ...
95  1984           Africa                                  Niger
96  1985           Europe                             Luxembourg
97  1984  South-East Asia                              Indonesia
98  1984           Africa                      Equatorial Guinea
99  1985  South-East Asia  Democratic People's Republic of Korea

   Beverage Types  Display Value
0            Wine           0.00
1           Other           0.50
2            Wine           1.62
3            Beer           4.27
4            Beer           1.98
..            ...            ...
95          Other           0.00
96           Wine           7.38
97           Wine           0.00
98           Wine           0.00
99           Wine           0.00

[95 rows x 5 columns]