In [1]:
import pandas as pd
df = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Harsh', 'Het', 'Piyush', 'Kesha', 'Dhyan', 'Eti'],
    'date_Of_Birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 32, 33, 30, 31, 32],
    'address': ['street1', 'street2', 'street3', 'street1', 'street2', 'street4'],
    't_id':['t1', 't2', 't3', 't4', 't5', 't6']})
print("Default Index:")
print(df.head(10))
print("\nschool_code as new Index:")
df1 = df.set_index('school_code')
print(df1)
print("\nt_id as new Index:")
df2 = df.set_index('t_id')
print(df2)

Default Index:
  school_code class    name date_Of_Birth  weight  address t_id
0        s001     V   Harsh    15/05/2002      35  street1   t1
1        s002     V     Het    17/05/2002      32  street2   t2
2        s003    VI  Piyush    16/02/1999      33  street3   t3
3        s001    VI   Kesha    25/09/1998      30  street1   t4
4        s002     V   Dhyan    11/05/2002      31  street2   t5
5        s004    VI     Eti    15/09/1997      32  street4   t6

school_code as new Index:
            class    name date_Of_Birth  weight  address t_id
school_code
s001            V   Harsh    15/05/2002      35  street1   t1
s002            V     Het    17/05/2002      32  street2   t2
s003           VI  Piyush    16/02/1999      33  street3   t3
s001           VI   Kesha    25/09/1998      30  street1   t4
s002            V   Dhyan    11/05/2002      31  street2   t5
s004           VI     Eti    15/09/1997      32  street4   t6

t_id as new Index:
     school_code class    name date_Of_Birth  weight  address
t_id
t1          s001     V   Harsh    15/05/2002      35  street1
t2          s002     V     Het    17/05/2002      32  street2
t3          s003    VI  Piyush    16/02/1999      33  street3
t4          s001    VI   Kesha    25/09/1998      30  street1
t5          s002     V   Dhyan    11/05/2002      31  street2
t6          s004    VI     Eti    15/09/1997      32  street4

In [2]:
print("\nMultiIndex using columns 't_id' and ‘school_code’:")
df1 = df.set_index(['t_id', 'school_code'])
print(df1)
print("\nMultiIndex using an Index and a column:")
df2 = df.set_index([pd.Index([0, 1, 2, 3, 4, 5]), 't_id'])
print(df2)

MultiIndex using columns 't_id' and ‘school_code’:
                 class    name date_Of_Birth  weight  address
t_id school_code
t1   s001            V   Harsh    15/05/2002      35  street1
t2   s002            V     Het    17/05/2002      32  street2
t3   s003           VI  Piyush    16/02/1999      33  street3
t4   s001           VI   Kesha    25/09/1998      30  street1
t5   s002            V   Dhyan    11/05/2002      31  street2
t6   s004           VI     Eti    15/09/1997      32  street4

MultiIndex using an Index and a column:
       school_code class    name date_Of_Birth  weight  address
  t_id
0 t1          s001     V   Harsh    15/05/2002      35  street1
1 t2          s002     V     Het    17/05/2002      32  street2
2 t3          s003    VI  Piyush    16/02/1999      33  street3
3 t4          s001    VI   Kesha    25/09/1998      30  street1
4 t5          s002     V   Dhyan    11/05/2002      31  street2
5 t6          s004    VI     Eti    15/09/1997      32  street4

In [3]:
print("Default Index:")
print(df.head(10))
print("\nt_id as new Index:")
df1 = df.set_index('t_id')
print(df1)
print("\nReset the index:")
df2 = df1.reset_index(inplace=False)
print(df2)

Default Index:
  school_code class    name date_Of_Birth  weight  address t_id
0        s001     V   Harsh    15/05/2002      35  street1   t1
1        s002     V     Het    17/05/2002      32  street2   t2
2        s003    VI  Piyush    16/02/1999      33  street3   t3
3        s001    VI   Kesha    25/09/1998      30  street1   t4
4        s002     V   Dhyan    11/05/2002      31  street2   t5
5        s004    VI     Eti    15/09/1997      32  street4   t6

t_id as new Index:
     school_code class    name date_Of_Birth  weight  address
t_id
t1          s001     V   Harsh    15/05/2002      35  street1
t2          s002     V     Het    17/05/2002      32  street2
t3          s003    VI  Piyush    16/02/1999      33  street3
t4          s001    VI   Kesha    25/09/1998      30  street1
t5          s002     V   Dhyan    11/05/2002      31  street2
t6          s004    VI     Eti    15/09/1997      32  street4

Reset the index:
  t_id school_code class    name date_Of_Birth  weight  address
0   t1        s001     V   Harsh    15/05/2002      35  street1
1   t2        s002     V     Het    17/05/2002      32  street2
2   t3        s003    VI  Piyush    16/02/1999      33  street3
3   t4        s001    VI   Kesha    25/09/1998      30  street1
4   t5        s002     V   Dhyan    11/05/2002      31  street2
5   t6        s004    VI     Eti    15/09/1997      32  street4