In [1]:
import pandas as pd
df = pd.DataFrame({'X':[78,85,96,80,86], 'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]});
print(df)

    X   Y   Z
0  78  84  86
1  85  94  97
2  96  89  96
3  80  83  72
4  86  86  83

In [2]:
import pandas as pd
import numpy as np

exam_data  = {'name': ['Harsh', 'Het', 'Piyush', 'Kesha', 'Jansi', 'Eti', 'Dhyan', 'Daiwik', 'Kevin', 'Riya'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , index=labels)
print(df)

     name  score  attempts qualify
a   Harsh   12.5         1     yes
b     Het    9.0         3      no
c  Piyush   16.5         2     yes
d   Kesha    NaN         3      no
e   Jansi    9.0         2      no
f     Eti   20.0         3     yes
g   Dhyan   14.5         1     yes
h  Daiwik    NaN         1      no
i   Kevin    8.0         2      no
j    Riya   19.0         1     yes

In [3]:
print("First three rows of the data frame:")
print(df.iloc[:3])

First three rows of the data frame:
     name  score  attempts qualify
a   Harsh   12.5         1     yes
b     Het    9.0         3      no
c  Piyush   16.5         2     yes

In [4]:
print("Select specific columns:")
print(df[['name', 'score']])

Select specific columns:
     name  score
a   Harsh   12.5
b     Het    9.0
c  Piyush   16.5
d   Kesha    NaN
e   Jansi    9.0
f     Eti   20.0
g   Dhyan   14.5
h  Daiwik    NaN
i   Kevin    8.0
j    Riya   19.0

In [5]:
print("Select specific columns and rows:")
print(df.iloc[[1, 3, 5, 6], [1, 3]])

Select specific columns and rows:
   score qualify
b    9.0      no
d    NaN      no
f   20.0     yes
g   14.5     yes