In [1]:
import pandas as pd
import numpy as np
s = pd.Series(['X', 'Y', 'Z', 'Aaba', 'Baca', np.nan, 'CABA', None, 'bird', 'horse', 'dog'])
print("Original series:")
print(s)
print("\nConvert all string values of the said Series to upper case:")
print(s.str.upper())
print("\nConvert all string values of the said Series to lower case:")
print(s.str.lower())
print("\nLength of the string values of the said Series:")
print(s.str.len())

Original series:
0         X
1         Y
2         Z
3      Aaba
4      Baca
5       NaN
6      CABA
7      None
8      bird
9     horse
10      dog
dtype: object

Convert all string values of the said Series to upper case:
0         X
1         Y
2         Z
3      AABA
4      BACA
5       NaN
6      CABA
7      None
8      BIRD
9     HORSE
10      DOG
dtype: object

Convert all string values of the said Series to lower case:
0         x
1         y
2         z
3      aaba
4      baca
5       NaN
6      caba
7      None
8      bird
9     horse
10      dog
dtype: object

Length of the string values of the said Series:
0     1.0
1     1.0
2     1.0
3     4.0
4     4.0
5     NaN
6     4.0
7     NaN
8     4.0
9     5.0
10    3.0
dtype: float64

In [2]:
import pandas as pd
color1 = pd.Index([' Green', 'Black ', ' Red ', 'White', ' Pink '])
print("Original series:")
print(color1)
print("\nRemove whitespace")
print(color1.str.strip())
print("\nRemove left sided whitespace")
print(color1.str.lstrip())
print("\nRemove Right sided whitespace")
print(color1.str.rstrip())

Original series:
Index([' Green', 'Black ', ' Red ', 'White', ' Pink '], dtype='object')

Remove whitespace
Index(['Green', 'Black', 'Red', 'White', 'Pink'], dtype='object')

Remove left sided whitespace
Index(['Green', 'Black ', 'Red ', 'White', 'Pink '], dtype='object')

Remove Right sided whitespace
Index([' Green', 'Black', ' Red', 'White', ' Pink'], dtype='object')

In [3]:
import pandas as pd
nums = {'amount': [10, 250, 3000, 40000, 500000]}
print("Original dataframe:")
df = pd.DataFrame(nums)
print(df)
print("\nAdd leading zeros:")
df['amount'] = df['amount'].apply(lambda x: '{0:0>8}'.format(x))
print(df)

Original dataframe:
   amount
0      10
1     250
2    3000
3   40000
4  500000

Add leading zeros:
     amount
0  00000010
1  00000250
2  00003000
3  00040000
4  00500000

In [4]:
import pandas as pd
df = pd.DataFrame({
    'name_code': ['c001','c002','c022', 'c2002', 'c2222'],
    'date_of_birth ': ['12/05/2002','16/02/1999','25/09/1998','12/02/2022','15/09/1997'],
    'age': [18.5, 21.2, 22.5, 22, 23]
})
print("Original DataFrame:")
print(df)
print("\nCount occurrence of 2 in date_of_birth column:")
df['count'] = list(map(lambda x: x.count("2"), df['name_code']))
print(df)

Original DataFrame:
  name_code date_of_birth    age
0      c001     12/05/2002  18.5
1      c002     16/02/1999  21.2
2      c022     25/09/1998  22.5
3     c2002     12/02/2022  22.0
4     c2222     15/09/1997  23.0

Count occurrence of 2 in date_of_birth column:
  name_code date_of_birth    age  count
0      c001     12/05/2002  18.5      0
1      c002     16/02/1999  21.2      1
2      c022     25/09/1998  22.5      2
3     c2002     12/02/2022  22.0      2
4     c2222     15/09/1997  23.0      4